<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcpE2Ylw-dg65VzyHXqSkiYCWGIUbq040</string>
	<key>GCM_SENDER_ID</key>
	<string>991993526233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AbrahamOrganiship.VoicedApp</string>
	<key>PROJECT_ID</key>
	<string>voiced-b1f36</string>
	<key>STORAGE_BUCKET</key>
	<string>voiced-b1f36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991993526233:ios:2cfe0bda86c50c59b10bc8</string>
</dict>
</plist>